<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Superhero Form</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="page-wrapper">
    <h1 class="page-title">Superhero Form</h1>

    <form action="/handle" method="post" class="superhero-form">
      <label for="name">Your Name</label>
      <input type="text" name="name" id="name" placeholder="Your name">

      <p>Select your favorite superhero</p>
      <label><input type="radio" name="superhero" value="iron man"> Iron Man</label>
      <label><input type="radio" name="superhero" value="hulk"> Hulk</label>
      <label><input type="radio" name="superhero" value="captain america"> Captain America</label>
      <label><input type="radio" name="superhero" value="spiderman"> Spider-Man</label>
      <label><input type="radio" name="superhero" value="batman"> Batman</label>
      <label><input type="radio" name="superhero" value="punisher"> Punisher</label>
      <label><input type="radio" name="superhero" value="deadpool"> Deadpool</label>
      <label><input type="radio" name="superhero" value="other" checked> Other</label>

      <button type="submit">Send</button>
    </form>

    <% if (locals.formData) { %>
      <p>My name is <%= formData.name %>
        and my favorite superhero is <%= formData.superhero %></p>
    <% } %>
  </div>
</body>
</html>
