<%- include('partials/head') %>
<body>
  <%- include('partials/navigation') %>
  <div class="page-wrapper">
    <h1 class="page-title">Superhero Form</h1>

    <form action="/handle" method="post" class="superhero-form">
      <input type="text" name="name" id="name" placeholder="Your name">

      <p>Select your favorite superhero</p>
      <label><input type="radio" name="superhero" value="Iron Man"> Iron Man</label>
      <label><input type="radio" name="superhero" value="Hulk"> Hulk</label>
      <label><input type="radio" name="superhero" value="Captain America"> Captain America</label>
      <label><input type="radio" name="superhero" value="Spider-Man"> Spider-Man</label>
      <label><input type="radio" name="superhero" value="Batman"> Batman</label>
      <label><input type="radio" name="superhero" value="Punisher"> Punisher</label>
      <label><input type="radio" name="superhero" value="Deadpool"> Deadpool</label>
      <label><input type="radio" name="superhero" value="Other" checked> Other</label>

      <button type="submit">Send</button>
    </form>

    <div class="result">
      <h2>Server Response</h2>
      <% if (locals.formData) { %>
        <p>Hi! My name is <%= formData.name %> and my favorite superhero is <%= formData.superhero %>.</p>
      <% } else { %>
        <p>Submit the form to see the response.</p>
      <% } %>
    </div>
  </div>
</body>
</html>
